*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  --iconSize: 1.8rem;
  --titleColor: #1e90ff;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;

  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

body {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  /* padding: 1.5rem; */
}

section {
  height: 100vh;
  width: 100%;
}

.side-bar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #fcfaf8;
  padding: 1.5rem;
  width: 25%;
}
.side-bar > h1 {
  text-align: center;
  font-size: 3rem;
  color: var(--titleColor);
}
.project-listing div::after {
  content: " ";
  background: url(./assets/down-arrow.png);
  display: inline-block;
  background-size: 100%;
  width: var(--iconSize);
  height: var(--iconSize);
  margin-top: 0.2rem;
}

.project-listing {
  display: flex;
  margin-left: 2rem;
}
.add-task {
  display: flex;
  /* gap: 0.4rem; */
}
.add-task div::before {
  content: " ";
  background: url(./assets/add-task-icon.png);
  display: inline-block;
  background-size: 100%;
  width: var(--iconSize);
  height: var(--iconSize);
  margin-top: 0.2rem;
}

.display {
  color: var(--titleColor);
  padding: 6% 16rem 0 16rem;
  font-size: 2rem;
}

.project-body > div {
  font-size: 2rem;
  border-bottom: 0.1rem solid rgb(210, 210, 210);
  /* color: black; */
  font-weight: bolder;
  display: block;
  display: flex;
}

.projects {
  display: flex;
  flex-direction: column;
  font-size: larger;
  font-weight: 600;
}

.delete::after {
  content: "";
  background: url(assets/delete.png);
  margin-left: 2rem;
  display: inline-block;
  background-size: 100%;
  width: var(--iconSize);
  height: var(--iconSize);
}

button {
  border: none;
  background-color: transparent;
}

.middle-container,
.card-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-grow: 2;
  /* height: 100%; */
}
.card-container :nth-child(3) {
  margin-right: auto;
  text-align: start;
  margin-left: 3rem;
}
.middle-container {
  flex-direction: column;
  margin-left: 2rem;
  max-width: fit-content;
  flex-grow: auto;
  align-items: center;
  justify-items: center;
}

input {
  width: 1.15em;
  height: 1.15em;
  margin-top: 2rem;
  accent-color: #aeea94;
}

.delete-button {
  border-radius: 50%;
  border: 1px;
  background-color: #e14434;
}

.priority {
  margin-right: auto;
  align-self: center;
  margin-left: 20%;
}

.high {
  color: #e14434;
}
.low {
  color: greenyellow;
}
.medium {
  color: orange;
}
.delete-button {
  box-sizing: border-box;
  align-self: center;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  border-radius: 6px;
  font-size: 1rem;
  text-align: center;
  border: none;
  width: 4rem;
  height: 2rem;
  color: #fff;
  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
}

dialog[open] {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  width: 32rem;
  height: 76%;
  background: #eee;
  display: flex;
  flex-direction: column;
  appearance: none;
  justify-content: center;
  border-radius: 16px;
  border: none;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  gap: 16px;
  padding: 2rem;
  overflow: hidden;
}

dialog::backdrop {
  background-color: grey;
  opacity: 0.5;
}

form {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin-top: 0.4rem;
  /* opacity: 0.5; */
  font-size: 1.5rem;
  font-weight: 500;
}

form > div {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
}

form > div > input {
  border: solid 1px;
  border-color: black;
  border-radius: 0.1rem;
  margin-top: -0.05rem;
  width: 100%;
}
textarea {
  text-align: start;
  width: 24rem;
  font-size: 1.5rem;
  resize: none;
  height: 7rem;
}

.minor-fields {
  display: flex;
  gap: 1rem;
}

.minor-fields > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 2rem;
  opacity: 0.5;
  /* margin-right: 0.5rem; */
}

.minor-fields > div > input,
.minor-fields > div > select {
  margin: 0px;
  width: 12rem;
  font-size: 1.5rem;

  /* font-weight: 200; */
}
.priority-container {
}
.due-date {
  /* margin-top: 0px; */
}
dialog > form > label,
dialog > form > div {
  font-size: 2rem;
}

/* .modal {
  height: 2rem;
} */

.modal:focus {
  appearance: none;
  outline: none;
  border: 1px solid #c7383c;
  border-radius: 8px;
}

.close {
  margin-top: 0.5em;
}

form > input {
  font-size: 1.5rem;
}

input {
  align-self: center;
}

fieldset {
  /* appearance: none; */
  border: 0px;
}

.name {
  flex: 2;
}
.modal-buttons {
  display: flex;
  gap: 1.5rem;
  /* width: 20rem?\; */
}
.modal-buttons > * {
  margin-top: 0px;
}

.modal-buttons > button,
.dialog-add {
  /* margin: 0 50% 0 50%; */
  width: 11.5rem;
  border: none;
  /* display: flex; */
  padding: 0.75rem 1.5rem;
  background-color: rgb(199, 56, 60);
  color: #ffffff;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  vertical-align: middle;
  border-radius: 0.5rem;
  user-select: none;
  gap: 0.75rem;
  box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17;
  transition: all 0.6s ease;
}

.orange {
  background-color: orange;
}
.blue {
  background-color: #488aec;
}
